body {
	font-family:  Tahoma;
	/*background: #fafafa;*/
}

header {
	display: block;
	background: #f2f2f2;
	color: black;
	font-weight: bold; 
	text-align: right;
	padding: 15px;
	font-size: 30px;
	border-radius: 10px;
	margin: auto;
}

.welcome {
	display: block;
	text-align: center;
	border-bottom: 1px solid lightgray;
	padding: 0px;
	margin: 10px;
}

.back {
	background: #f2f2f2;
	max-width: 800px;
	margin: auto;
	margin-top: 10px;
	border-radius: 10px;

	justify-self: center;
	font-size: 28px;
	font-family: 'Andale Mono', monospace;
}

h1 {
	font-size: 48px;
	margin: auto;
}

div {
	padding: 15px;
}

section {
	text-align: center;
}

#task, #taskSumm {
	display: grid;
	grid-template-columns: 1fr 1fr 0.75fr;
	/*color: blue;*/
	justify-content: center;
	max-width: 750px;
	margin: auto;
	grid-template-areas: 
	"header header header"
	"content content content"
	". sum .";
	align-items: center;
}

#task{
	border-top: 1px solid lightgray;
}

#form1 {
	text-align: center;
	grid-area: header;
	margin-bottom: 25px;

}

#sumId {
	grid-area: sum;
}


input, button {
	border: 1px solid gray;
	margin: 10px;
	padding: 15px;
	font-family: Tahoma;
	font-size: 20px;
}

#submitButton, #stop, #delete, button {
	
	color: black;
	width: 150px;
	border-radius: 25px;
	padding: 10px;
	cursor: pointer;
	font-weight: bold;
}

#submitButton:hover {
	background-color: black;
	color: white;
	transition: all 0.5s;
}

button { 
	justify-self: end;
	/*opacity: 0;*/
}

button:hover, #delete:hover {
	background-color: lightcoral;
	color: white;
	transition: all 0.5s;
}

#measureUnit {
	width: 50px;
}
